extends ../layout/main
    
block content
    h1= title
    ul
        li= event.id
        li= event.name
        li= event.description
        
    a(href="/events/" class="btn btn-secondary float-left") Back to List 